@import "./typography.css";

/* General */

label {
    color: var(--color-text-muted);
    font-weight: var(--font-weight-medium);
    line-height: 100%;
    margin: 0 !important;
}
    label span {
        margin: 0;
    }

input[type=checkbox] {
    height: var(--font-size-base);
    width: var(--font-size-base);
    color: var(--color-border-subtle);
    accent-color: var(--color-text-primary);
    border: 1px solid var(--color-border-subtle);
    border-radius: var(--corner-radius-xs);
}

.onit-input-wrapper {
    width: 100%;
}

.btn-block, 
.input-group,
.form-control {
    width: 100%;
}

@media screen and (min-width: 1200px) {
    .btn-block, 
    .input-group,
    .form-control {
        width: 75% !important;
    }
}

/* Form header */ 
/* = ".onit-form-card > .onit-form-header" */

.onit-form-header h1 {
    font-size: var(--font-size-heading-1);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-heading-1);
    margin: 0 !important;
}

.onit-content-wrapper {
    display: flex;
    flex-direction: column;
}

    .onit-content-wrapper > div.col-md-10 {
        padding: 0 !important;
    }

    .onit-content-wrapper > div:not(.onit-label-wrapper)
    .onit-content-wrapper > div:last-child {
        padding: 0 !important;
    }

@media screen and (min-width: 992px) {
    .onit-form-header {
        padding-top: var(--display-insets-xl);
    }
}    
    .onit-form-header .onit-label-wrapper,
    .onit-form-header .onit-label-wrapper .required {
        order: 3;
        color: var(--color-text-muted) !important;
        margin-top: 0;
    }

/* Form groups */
/* = ".onit-form-card > div#kc-content > div#kc-content-wrapper > div#form > div#form-wrapper > form > .onit-form-group" */

.onit-form,
.onit-form-card form {
    display: flex;
    flex-direction: column;
    gap: var(--form-stack-spacing);
}

    .onit-form-group {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: var(--display-insets-sm);
        margin-top: 0 !important;
    }

    .error-message {
        font-size: var(--font-size-small);
        color: var(--color-text-danger);
    }

    .onit-form-group:has(.error-message) {
        color: var(--color-text-danger) !important;
    }
        .onit-form-group:has(.error-message) .form-control {
            border-color: var(--color-border-danger) !important;
        }

/* Labels & inputs */
/* = ".onit-form-group > label.form-label" & ".onit-form-group > input.form-control" */

.form-control {
    box-shadow: none;
    border: 1px solid var(--color-border-subtle);
    padding: var(--input-padding-y) var(--input-padding-x);
    height: calc(2px + var(--input-padding-y) + var(--input-padding-x) + var(--font-size-base));
}
    .form-control:hover, 
    .form-control.hover {
        border-width: 1.5px;
        border-color: var(--color-border-primary-hover);
    }

    .form-control:focus, 
    .form-control.focus {
        border-color: var(--color-border-primary-hover);
        box-shadow: 0 0 7px var(--color-box-shadow-primary-end);
    }

/* Form settings */
/* = ".onit-form-group.onit-form-settings" */

.onit-form-settings { /* contains: remember me */
    gap: var(--display-insets-xl) !important;
}
    .onit-form-settings .checkbox {
        margin-bottom: 0;
    }
        .onit-form-settings .checkbox .radio {
            margin-bottom: 0 !important;
        }
        .onit-form-settings .checkbox label {
            /* margin-bottom: var(--form-stack-spacing) !important; */
        }
            .onit-form-settings .checkbox label:has(input[type=checkbox]){
                padding-left: var(--display-insets-2xl) !important;
            }
            .onit-form-settings .checkbox label:has(input#rememberMe) {
                font-weight: var(--font-weight-medium);
                color: var(--color-text-base);
            }

            .onit-form-settings .checkbox label input {
                margin: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
                .onit-form-settings .checkbox label input[type=checkbox] {
                    margin-left: var(--display-insets-2xl-negative);
                }

    .onit-form-settings .onit-form-options-wrapper { /* contains: forgot-password, back-to-login, etc.  */
    }

/* Social Accounts Section */
.onit-social-account-section h2 {
    font-size: var(--font-size-base);
    color: var(--color-text-muted);
    margin-bottom: var(--display-insets-lg);
}

/* Sign up */

.onit-sign-up {
    margin: var(--display-stacks-2xl) 0 0 0 !important;
}
    .onit-info-area-wrapper {
        font-size: var(--font-size-small) !important;
        padding: 0 !important;
        background-color: transparent !important;
    }
        .onit-info-area-wrapper #kc-registration span {
            display: flex; 
            align-items: center;
            gap: var(--display-insets-sm);
        }

/* Form buttons */

.onit-form-buttons {
    width: 100%;
    padding: 0;
}

/* not always present => only here to minimise impact */
.onit-label-wrapper, .onit-input-wrapper,
.onit-form-options {
    padding: 0;
}
