/* Colors */
:root {
    /* Primitives: colors */
    --color-black: #000;
    --color-black-opacity-75: rgba(0, 0, 0, 0.75);
    --color-white: #fff;
    --color-gray-100: #F3F4F6;
    --color-gray-400: #9CA3AF;
    --color-gray-500: #6B7080;
    --color-gray-900: #111827;
    --color-blue-50: #EFF6FF;
    --color-blue-100: #DBEAFE;
    --color-blue-500: #3B82F6;
    --color-blue-600: #2563EB;
    --color-green-50: #F0FDF4;
    --color-green-100: #DCFCE7;
    --color-green-500: #22C55E;
    --color-green-600: #16A34A;
    --color-green-700: #15803D;
    --color-midnight-blue-400: #3488C8;
    --color-midnight-blue-500: #1566A2;
    --color-red-50: #FEF2F2;
    --color-red-100: #FEE2E2;
    --color-red-400: #F87171;
    --color-red-500: #EF4444;
    --color-red-600: #DC2626;
    --color-red-700: #B91C1C;
    --color-yellow-50: #FEFCE8;
    --color-yellow-100: #FEF9C3;
    --color-yellow-500: #EAB308;
    --color-yellow-600: #CA8A04;
    --color-yellow-700: #A16207;
    --color-violet-300: #C4B5FD;
    --color-violet-400: #A78BFA;
    --color-violet-500: #8B5CF6;
    --color-violet-600: #7C3AED;
    --color-violet-700: #6D28D9;
    --color-violet-700-opacity-60: rgba(109, 40, 217, 0.6);
    --color-zinc-100: #F4F4F5;
    --color-zinc-200: #E4E4E7;

    /* Colors - light: text */
    --color-text-base: var(--color-gray-900);
    --color-text-muted: var(--color-gray-500);
    --color-text-muted-hover: var(--color-gray-400);
    --color-text-inverse: var(--color-gray-100);
    --color-text-accent: var(--color-midnight-blue-500);
    --color-text-accent-hover: var(--color-midnight-blue-400); /* not used */
    --color-text-primary: var(--color-violet-700);
    --color-text-primary-hover: var(--color-violet-500);
    --color-text-info: var(--color-blue-600);
    --color-text-success: var(--color-green-600);
    --color-text-warning: var(--color-yellow-700);
    --color-text-danger: var(--color-red-600);
    --color-text-danger-hover: var(--color-red-500);

    /* Colors - light: border */
    --color-border-subtle: var(--color-zinc-200);
    --color-border-primary: var(--color-violet-700);
    --color-border-primary-hover: var(--color-violet-600);
    --color-border-primary-disabled: var(--color-violet-300);
    --color-border-info: var(--color-blue-600);
    --color-border-success: var(--color-green-600);
    --color-border-warning: var(--color-yellow-600);
    --color-border-danger: var(--color-red-600);

    /* Colors - light: box-shadow */
    --color-box-shadow-primary-start: var(--color-black-opacity-75);
    --color-box-shadow-primary-end: var(--color-violet-700-opacity-60);

    /* Colors - light: background */
    --color-background-default: var(--color-white);
    --color-background-subtle: var(--color-zinc-100);
    --color-background-primary: var(--color-violet-700);
    --color-background-primary-hover: var(--color-violet-600); 
    --color-background-primary-disabled: var(--color-violet-400);
    --color-background-info: var(--color-blue-600);
    --color-background-info-hover: var(--color-blue-500);
    --color-background-info-outline: var(--color-blue-100);
    --color-background-info-outline-hover: var(--color-blue-50);
    --color-background-success: var(--color-green-700);
    --color-background-success-hover: var(--color-green-500);
    --color-background-success-outline: var(--color-green-100);
    --color-background-success-outline-hover: var(--color-green-50);
    --color-background-warning: var(--color-yellow-700);
    --color-background-warning-hover: var(--color-yellow-500);
    --color-background-warning-outline: var(--color-yellow-100);
    --color-background-warning-outline-hover: var(--color-yellow-50);
    --color-background-danger: var(--color-red-700);
    --color-background-danger-hover: var(--color-red-500);
    --color-background-danger-outline: var(--color-red-100);
    --color-background-danger-outline-hover: var(--color-red-50);

    /* Colors - dark */

    /* -bs vars? -> use inspector (eg: btn-primary) */
}

/* Typography */

:root {
    /* Primitives: sizes */
    --size-4px: 0.25rem;
    --size-8px: 0.5rem;
    --size-12px: 0.75rem;
    --size-14px: 0.875rem;
    --size-16px: 1rem;
    --size-18px: 1.125rem;
    --size-20px: 1.25rem;
    --size-24px: 1.5rem;
    --size-28px: 1.75rem;
    --size-32px: 2rem;
    --size-40px: 2.5rem; 
    --size-64px: 4rem;
    --size-80px: 5rem;

    /* Font family */
    --font-family-base: "Inter", sans-serif;

    /* Font weights */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    /* Font sizes */
    --font-size-small: var(--size-14px);
    --font-size-base: var(--size-16px);
    --font-size-large: var(--size-18px);
    --font-size-heading-1: var(--size-28px);

    /* Line-heights */
    --line-height-small: var(--size-20px);
    --line-height-base: var(--size-24px);
    --line-height-large: var(--size-32px);
    --line-height-heading-1: var(--size-40px);

    /* Corner-radius */
    --corner-radius-xs: var(--size-4px);
    --corner-radius-sm: var(--size-8px);
    --corner-radius-panel-login: var(--size-12px); 
    
    /* Logo */
    --max-height-footer-logo: var(--size-80px);
}

@media screen and (min-width: 992px) {
    :root {
        
    }
}

/* Spacings */

:root {
    /* Primitives: spacings */
    --spacing-4: 0.25rem;
    --spacing-8: 0.5rem;
    --spacing-12: 0.75rem;
    --spacing-16: 1rem;
    --spacing-20: 1.25rem;
    --spacing-24: 1.5rem;
    --spacing-28: 1.75rem;
    --spacing-32: 2rem;
    --spacing-64: 4rem;
    --spacing-24-negative: -1.5rem;

    /* Stacks */
    --display-stacks-sm: var(--spacing-8);
    --display-stacks-md: var(--spacing-12);
    --display-stacks-lg: var(--spacing-16);
    --display-stacks-xl: var(--spacing-24);
    --display-stacks-2xl: var(--spacing-32);

    /* Insets */
    --display-insets-xs: var(--spacing-4);
    --display-insets-sm: var(--spacing-8);
    --display-insets-md: var(--spacing-12);
    --display-insets-lg: var(--spacing-16);
    --display-insets-xl: var(--spacing-20);
    --display-insets-2xl: var(--spacing-24);
    --display-insets-2xl-negative: var(--spacing-24-negative);

    /* Others */
    --form-stack-spacing: var(--display-insets-xl);

    /* Paddings */
    --panel-login-gap: var(--spacing-32);
    --panel-login-padding-x: var(--spacing-32);
    --panel-login-padding-y: var(--spacing-32);
    --input-padding-x: var(--display-insets-md);
    --input-padding-y: var(--display-insets-sm);
    --button-padding-x: var(--display-insets-md);
    --button-padding-y: var(--display-insets-sm);
    --button-large-padding-x: var(--display-insets-xl);
    --button-large-padding-y: var(--display-insets-md);
}

@media screen and (min-width: 992px) {
    :root {
        /* Paddings */
        --panel-login-gap: var(--spacing-64);
        --panel-login-padding-x: var(--spacing-64);
        --panel-login-padding-y: var(--spacing-32);
    }
}
