@import "./fonts.css";

:root {
    /*variables*/
}

body {
    font-family: "Inter";
}

hr {
    margin-top: 2rem !important;
    margin-bottom: 1.75rem !important;
}

.checkbox label {
    display: flex; 
    align-items: baseline;
}